<%- include('../includes/head.ejs') %>
		<link rel="stylesheet" href="/css/product.css" />
		<link rel="stylesheet" href="/css/forms.css" />
	</head>
	<body>
		<header class="main-header">
            <%- include('../includes/nav.ejs') %>
		<main>
			<% if (editing) { %>
				<form class="product-form" action="/admin/edit-product/" method="POST">
					<div class="form-control">
						<label for="productTitle">Product Title:</label>
						<input type="text" name="productTitle" id="productTitle" value="<%= product.title %>"/>
						<label for="productPrice">Product Price: </label>
						<input type="text" name="productPrice" id="productPrice" value="<%= product.price %>"/>
						<label for="productUrl">Image URL: </label>
						<input type="text" name="productUrl" id="productUrl" value="<%= product.imageUrl %>">
						<label for="productDescription">Product Description: </label>
						<input type="text" name="productDescription" id="productDescription" value="<%= product.description %>" />
						<input type="hidden" name="productId" id="productId" value="<%= product.id %>">
					</div>
					<button type="submit" class="btn">Update Product</button>
				</form>
			<% } else { %>
				<form class="product-form" action="/admin/addProduct" method="POST">
					<div class="form-control">
						<label for="productTitle">Product Title:</label>
						<input type="text" name="productTitle" id="productTitle"/>
						<label for="productPrice">Product Price: </label>
						<input type="text" name="productPrice" id="productPrice"/>
						<label for="productUrl">Image URL: </label>
						<input type="text" name="productUrl" id="productUrl">
						<label for="productDescription">Product Description: </label>
						<input type="text" name="productDescription" id="productDescription" />
					</div>
					<button type="submit" class="btn">Add Product</button>
				</form>
			<% } %>
            <%- include('../includes/end.ejs') %>
