<%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css.forms.css" />
		<link rel="stylesheet" href="/css/product.css" />
	</head>

	<body>
        <%- include('../includes/nav.ejs') %>

        <main>
                <% if (products.length > 0) { %>
                        <ul>
                                <% for(product of products) { %>
                                        <li>
                                                <p><%= product.productData.title %> (<%= product.qty %>)</p>
                                                <form action="/cart-delete-item" method="POST">
                                                        <input type="hidden" name="productId" id="productId" value="<%= product.productData.id %>">
                                                        <button type="submit" class="btn">Delete</button>
                                                </form>
                                        </li>
                                <% } %>
                        </ul>
                        <h2>Total Price: $<%= cart.totalPrice %></h2>

                <% } else { %>
                        <h1>No Products In Cart</h1>
                <% } %>
                
        <%- include('../includes/end.ejs') %>